In [61]:
import pandas as pd

In [62]:
import numpy as np

In [63]:
data=pd.read_csv("uncleaned_vectors.csv")

C:\Users\santosh bishnoi\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (9,14,17,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [64]:
data.head()

,Unnamed: 0,Unnamed: 0.1,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,...,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES,other_meds_filtered,allergies_filtered,history_filtered,meds_vector,allergies_vector,history_vector
0,0,0,916600,01-01-2021,TX,33.0,33.0,NaN,F,NaN,...,NaN,Y,NaN,Pcn and bee venom,NaN,"['pcn', 'bee venom']",NaN,NaN,[ 1.83718994e-01 -3.00236672e-01 3.40096653e-...,NaN
1,1,1,916601,01-01-2021,CA,73.0,73.0,NaN,F,NaN,...,NaN,Y,NaN,"""Dairy""",['residing nursing facility . patients chart .'],"[""`` dairy ''""]",['residing nursing facility . patients chart .'],[ 0.0253243 0.024884 -0.2335778 0.013858...,[-3.0221e-01 3.1568e-03 -1.4152e-01 2.5837e-...,[ 0.4257 -0.52978 0.37835 -0.28299 -...
2,2,2,916602,01-01-2021,WA,23.0,23.0,NaN,F,NaN,...,NaN,NaN,Y,Shellfish,NaN,['shellfish'],NaN,NaN,[-0.30517 -0.41038 0.059648 -0.48996 ...,NaN
3,3,3,916603,01-01-2021,WA,58.0,58.0,NaN,F,NaN,...,NaN,NaN,NaN,"Diclofenac, novacaine, lidocaine, pickles, tom...",NaN,"['diclofenac', 'novacaine', 'lidocaine', 'pick...","['diverticulitis', 'mitral valve prolapse', 'o...",NaN,[-0.33855534 -0.17594332 0.25119236 0.024586...,[ 0.4257 -0.52978 0.37835 -0.28299 -...
4,4,4,916604,01-01-2021,TX,47.0,47.0,NaN,F,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'VAERS_ID', 'RECVDATE', 'STATE',
       'AGE_YRS', 'CAGE_YR', 'CAGE_MO', 'SEX', 'RPT_DATE', 'SYMPTOM_TEXT',
       'DIED', 'DATEDIED', 'L_THREAT', 'ER_VISIT', 'HOSPITAL', 'HOSPDAYS',
       'X_STAY', 'DISABLE', 'RECOVD', 'VAX_DATE', 'ONSET_DATE', 'NUMDAYS',
       'LAB_DATA', 'V_ADMINBY', 'V_FUNDBY', 'OTHER_MEDS', 'CUR_ILL', 'HISTORY',
       'PRIOR_VAX', 'SPLTTYPE', 'FORM_VERS', 'TODAYS_DATE', 'BIRTH_DEFECT',
       'OFC_VISIT', 'ER_ED_VISIT', 'ALLERGIES', 'other_meds_filtered',
       'allergies_filtered', 'history_filtered', 'meds_vector',
       'allergies_vector', 'history_vector'],
      dtype='object')

In [66]:

data.drop(['RECVDATE', 'STATE',
        'CAGE_YR', 'CAGE_MO', 'RPT_DATE', 'SYMPTOM_TEXT',
       'DATEDIED',  'HOSPDAYS',
       'X_STAY', 'DISABLE', 'RECOVD', 'VAX_DATE', 'ONSET_DATE', 'NUMDAYS',
       'LAB_DATA', 'V_ADMINBY', 'V_FUNDBY', 'OTHER_MEDS', 'CUR_ILL', 'HISTORY',
       'PRIOR_VAX', 'SPLTTYPE', 'FORM_VERS', 'TODAYS_DATE', 'BIRTH_DEFECT',
       'OFC_VISIT', 'ER_ED_VISIT', 'ALLERGIES', 'other_meds_filtered',
       'allergies_filtered', 'history_filtered'],axis='columns', inplace=True)

In [67]:
data.head()

,Unnamed: 0,Unnamed: 0.1,VAERS_ID,AGE_YRS,SEX,DIED,L_THREAT,ER_VISIT,HOSPITAL,meds_vector,allergies_vector,history_vector
0,0,0,916600,33.0,F,NaN,NaN,NaN,NaN,NaN,[ 1.83718994e-01 -3.00236672e-01 3.40096653e-...,NaN
1,1,1,916601,73.0,F,NaN,NaN,NaN,NaN,[ 0.0253243 0.024884 -0.2335778 0.013858...,[-3.0221e-01 3.1568e-03 -1.4152e-01 2.5837e-...,[ 0.4257 -0.52978 0.37835 -0.28299 -...
2,2,2,916602,23.0,F,NaN,NaN,NaN,NaN,NaN,[-0.30517 -0.41038 0.059648 -0.48996 ...,NaN
3,3,3,916603,58.0,F,NaN,NaN,NaN,NaN,NaN,[-0.33855534 -0.17594332 0.25119236 0.024586...,[ 0.4257 -0.52978 0.37835 -0.28299 -...
4,4,4,916604,47.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
data.drop(['Unnamed: 0','Unnamed: 0.1'],axis='columns', inplace=True)

In [69]:
data.head()

,VAERS_ID,AGE_YRS,SEX,DIED,L_THREAT,ER_VISIT,HOSPITAL,meds_vector,allergies_vector,history_vector
0,916600,33.0,F,NaN,NaN,NaN,NaN,NaN,[ 1.83718994e-01 -3.00236672e-01 3.40096653e-...,NaN
1,916601,73.0,F,NaN,NaN,NaN,NaN,[ 0.0253243 0.024884 -0.2335778 0.013858...,[-3.0221e-01 3.1568e-03 -1.4152e-01 2.5837e-...,[ 0.4257 -0.52978 0.37835 -0.28299 -...
2,916602,23.0,F,NaN,NaN,NaN,NaN,NaN,[-0.30517 -0.41038 0.059648 -0.48996 ...,NaN
3,916603,58.0,F,NaN,NaN,NaN,NaN,NaN,[-0.33855534 -0.17594332 0.25119236 0.024586...,[ 0.4257 -0.52978 0.37835 -0.28299 -...
4,916604,47.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
data["DIED"]=data["DIED"].replace(np.nan, 0)
data["L_THREAT"]=data["L_THREAT"].replace(np.nan, 0)
data["ER_VISIT"]=data["ER_VISIT"].replace(np.nan, 0)
data["HOSPITAL"]=data["HOSPITAL"].replace(np.nan, 0)

In [71]:
data["DIED"]=data["DIED"].replace("Y", 1)
data["L_THREAT"]=data["L_THREAT"].replace("Y", 1)
data["ER_VISIT"]=data["ER_VISIT"].replace("Y", 1)
data["HOSPITAL"]=data["HOSPITAL"].replace("Y", 1)

In [72]:
data

,VAERS_ID,AGE_YRS,SEX,DIED,L_THREAT,ER_VISIT,HOSPITAL,meds_vector,allergies_vector,history_vector
0,916600,33.0,F,0,0,0,0,NaN,[ 1.83718994e-01 -3.00236672e-01 3.40096653e-...,NaN
1,916601,73.0,F,0,0,0,0,[ 0.0253243 0.024884 -0.2335778 0.013858...,[-3.0221e-01 3.1568e-03 -1.4152e-01 2.5837e-...,[ 0.4257 -0.52978 0.37835 -0.28299 -...
2,916602,23.0,F,0,0,0,0,NaN,[-0.30517 -0.41038 0.059648 -0.48996 ...,NaN
3,916603,58.0,F,0,0,0,0,NaN,[-0.33855534 -0.17594332 0.25119236 0.024586...,[ 0.4257 -0.52978 0.37835 -0.28299 -...
4,916604,47.0,F,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
444314,1553408,NaN,M,0,0,0,0,[ 8.40699971e-02 3.45880002e-01 4.12244976e-...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...
444315,1553414,NaN,M,0,0,0,0,NaN,NaN,NaN
444316,1553416,81.0,F,0,0,0,0,[ 0.31707 0.41464 0.38131 -0.29494 ...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...
444317,1553436,19.0,M,0,0,0,0,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,NaN
444318,1553448,64.0,M,0,0,0,1,NaN,NaN,NaN

In [73]:
data = pd.get_dummies(data, columns=['SEX'])

In [74]:
data

,VAERS_ID,AGE_YRS,DIED,L_THREAT,ER_VISIT,HOSPITAL,meds_vector,allergies_vector,history_vector,SEX_F,SEX_M
0,916600,33.0,0,0,0,0,NaN,[ 1.83718994e-01 -3.00236672e-01 3.40096653e-...,NaN,1,0
1,916601,73.0,0,0,0,0,[ 0.0253243 0.024884 -0.2335778 0.013858...,[-3.0221e-01 3.1568e-03 -1.4152e-01 2.5837e-...,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0
2,916602,23.0,0,0,0,0,NaN,[-0.30517 -0.41038 0.059648 -0.48996 ...,NaN,1,0
3,916603,58.0,0,0,0,0,NaN,[-0.33855534 -0.17594332 0.25119236 0.024586...,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0
4,916604,47.0,0,0,0,0,NaN,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...
444314,1553408,NaN,0,0,0,0,[ 8.40699971e-02 3.45880002e-01 4.12244976e-...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,0,1
444315,1553414,NaN,0,0,0,0,NaN,NaN,NaN,0,1
444316,1553416,81.0,0,0,0,0,[ 0.31707 0.41464 0.38131 -0.29494 ...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0
444317,1553436,19.0,0,0,0,0,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,NaN,0,1
444318,1553448,64.0,0,0,0,1,NaN,NaN,NaN,0,1

In [75]:
data['DIED'].unique()

array([0, 1], dtype=int64)

In [76]:
def label_risk (row):
    if row['DIED'] + row['L_THREAT'] + row['ER_VISIT'] + row['HOSPITAL'] > 1 :
        return 1
    else:
        return 0

In [77]:
data['risk'] = data.apply (lambda row: label_risk(row), axis=1)

In [78]:
data

,VAERS_ID,AGE_YRS,DIED,L_THREAT,ER_VISIT,HOSPITAL,meds_vector,allergies_vector,history_vector,SEX_F,SEX_M,risk
0,916600,33.0,0,0,0,0,NaN,[ 1.83718994e-01 -3.00236672e-01 3.40096653e-...,NaN,1,0,0
1,916601,73.0,0,0,0,0,[ 0.0253243 0.024884 -0.2335778 0.013858...,[-3.0221e-01 3.1568e-03 -1.4152e-01 2.5837e-...,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0
2,916602,23.0,0,0,0,0,NaN,[-0.30517 -0.41038 0.059648 -0.48996 ...,NaN,1,0,0
3,916603,58.0,0,0,0,0,NaN,[-0.33855534 -0.17594332 0.25119236 0.024586...,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0
4,916604,47.0,0,0,0,0,NaN,NaN,NaN,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
444314,1553408,NaN,0,0,0,0,[ 8.40699971e-02 3.45880002e-01 4.12244976e-...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,0,1,0
444315,1553414,NaN,0,0,0,0,NaN,NaN,NaN,0,1,0
444316,1553416,81.0,0,0,0,0,[ 0.31707 0.41464 0.38131 -0.29494 ...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0
444317,1553436,19.0,0,0,0,0,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,NaN,0,1,0
444318,1553448,64.0,0,0,0,1,NaN,NaN,NaN,0,1,0

In [79]:
data['risk'].unique()

array([0, 1], dtype=int64)

In [80]:
data.drop(['DIED','L_THREAT','ER_VISIT','HOSPITAL'],axis='columns', inplace=True)

In [81]:
data

,VAERS_ID,AGE_YRS,meds_vector,allergies_vector,history_vector,SEX_F,SEX_M,risk
0,916600,33.0,NaN,[ 1.83718994e-01 -3.00236672e-01 3.40096653e-...,NaN,1,0,0
1,916601,73.0,[ 0.0253243 0.024884 -0.2335778 0.013858...,[-3.0221e-01 3.1568e-03 -1.4152e-01 2.5837e-...,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0
2,916602,23.0,NaN,[-0.30517 -0.41038 0.059648 -0.48996 ...,NaN,1,0,0
3,916603,58.0,NaN,[-0.33855534 -0.17594332 0.25119236 0.024586...,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0
4,916604,47.0,NaN,NaN,NaN,1,0,0
...,...,...,...,...,...,...,...,...
444314,1553408,NaN,[ 8.40699971e-02 3.45880002e-01 4.12244976e-...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,0,1,0
444315,1553414,NaN,NaN,NaN,NaN,0,1,0
444316,1553416,81.0,[ 0.31707 0.41464 0.38131 -0.29494 ...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0
444317,1553436,19.0,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,NaN,0,1,0
444318,1553448,64.0,NaN,NaN,NaN,0,1,0

In [82]:
data2=pd.read_csv('2021VAERSVAX_clean3.csv')

In [83]:
data=data.merge(data2, on='VAERS_ID',how='inner')

In [84]:
data

,VAERS_ID,AGE_YRS,meds_vector,allergies_vector,history_vector,SEX_F,SEX_M,risk,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_SITE,VAX_NAME
0,916600,33.0,NaN,[ 1.83718994e-01 -3.00236672e-01 3.40096653e-...,NaN,1,0,0,COVID19,MODERNA,037K20A,1,LA,COVID19 (COVID19 (MODERNA))
1,916601,73.0,[ 0.0253243 0.024884 -0.2335778 0.013858...,[-3.0221e-01 3.1568e-03 -1.4152e-01 2.5837e-...,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0,COVID19,MODERNA,025L20A,1,RA,COVID19 (COVID19 (MODERNA))
2,916602,23.0,NaN,[-0.30517 -0.41038 0.059648 -0.48996 ...,NaN,1,0,0,COVID19,PFIZER\BIONTECH,EL1284,1,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
3,916603,58.0,NaN,[-0.33855534 -0.17594332 0.25119236 0.024586...,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0,COVID19,MODERNA,NaN,NaN,NaN,COVID19 (COVID19 (MODERNA))
4,916604,47.0,NaN,NaN,NaN,1,0,0,COVID19,MODERNA,NaN,1,LA,COVID19 (COVID19 (MODERNA))
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459492,1553408,NaN,[ 8.40699971e-02 3.45880002e-01 4.12244976e-...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,0,1,0,COVID19,MODERNA,052620A,1,RA,COVID19 (COVID19 (MODERNA))
459493,1553414,NaN,NaN,NaN,NaN,0,1,0,COVID19,MODERNA,012M20A,1,RA,COVID19 (COVID19 (MODERNA))
459494,1553416,81.0,[ 0.31707 0.41464 0.38131 -0.29494 ...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0,COVID19,MODERNA,039K20A,1,RA,COVID19 (COVID19 (MODERNA))
459495,1553436,19.0,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,NaN,0,1,0,COVID19,PFIZER\BIONTECH,EW0180,3,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
459496,1553448,64.0,NaN,NaN,NaN,0,1,0,COVID19,JANSSEN,NaN,NaN,NaN,COVID19 (COVID19 (JANSSEN))

In [85]:
data.drop(['VAX_TYPE','VAX_MANU','VAX_LOT','VAX_DOSE_SERIES','VAX_SITE'],axis='columns', inplace=True)

In [86]:
data

,VAERS_ID,AGE_YRS,meds_vector,allergies_vector,history_vector,SEX_F,SEX_M,risk,VAX_NAME
0,916600,33.0,NaN,[ 1.83718994e-01 -3.00236672e-01 3.40096653e-...,NaN,1,0,0,COVID19 (COVID19 (MODERNA))
1,916601,73.0,[ 0.0253243 0.024884 -0.2335778 0.013858...,[-3.0221e-01 3.1568e-03 -1.4152e-01 2.5837e-...,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0,COVID19 (COVID19 (MODERNA))
2,916602,23.0,NaN,[-0.30517 -0.41038 0.059648 -0.48996 ...,NaN,1,0,0,COVID19 (COVID19 (PFIZER-BIONTECH))
3,916603,58.0,NaN,[-0.33855534 -0.17594332 0.25119236 0.024586...,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0,COVID19 (COVID19 (MODERNA))
4,916604,47.0,NaN,NaN,NaN,1,0,0,COVID19 (COVID19 (MODERNA))
...,...,...,...,...,...,...,...,...,...
459492,1553408,NaN,[ 8.40699971e-02 3.45880002e-01 4.12244976e-...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,0,1,0,COVID19 (COVID19 (MODERNA))
459493,1553414,NaN,NaN,NaN,NaN,0,1,0,COVID19 (COVID19 (MODERNA))
459494,1553416,81.0,[ 0.31707 0.41464 0.38131 -0.29494 ...,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,1,0,0,COVID19 (COVID19 (MODERNA))
459495,1553436,19.0,NaN,[ 0.4257 -0.52978 0.37835 -0.28299 -...,NaN,0,1,0,COVID19 (COVID19 (PFIZER-BIONTECH))
459496,1553448,64.0,NaN,NaN,NaN,0,1,0,COVID19 (COVID19 (JANSSEN))

In [87]:
type(data['meds_vector'])

pandas.core.series.Series

In [88]:
# delete rows with nan values
newdata = data.dropna(axis=0, how='any')

In [89]:
newdata.shape

(104069, 9)

In [90]:
def tofloatlist(row):
    row_list=(((row)[3:-2]).split())
    return list(map(float,row_list))

In [91]:
import ast
def li(i):
    return ast.literal_eval(i)

In [92]:
# for i, row in data.iterrows():
#     if not row['meds_vector']:
#         data["meds_vector"][i]=tofloatlist(data["meds_vector"][i])
#     if not row['allergies_vector']:
#         data["allergies_vector"][i]=tofloatlist(data["allergies_vector"][i])
#     if not row['history_vector']:
#         data["history_vector"][i]=tofloatlist(data["history_vector"][i])

#     if row["meds_vector"] != "nan":
#         row["meds_vector"] = row["meds_vector"].apply(lambda x:li(x))

In [93]:
# for index, row in data.iterrows():
#     # check if the row is empty
#     if not row['allergies_vector']:
#         data.loc[index, "allergies_vector"] = li(data.loc[index, "allergies_vector"])
#     if not row['history_vector']:
#         data.loc[index, "history_vector"] = li(data.loc[index, "history_vector"])

In [94]:
for i,j in newdata["meds_vector"].iteritems():
    newdata["meds_vector"][i]=tofloatlist(newdata["meds_vector"][i])

C:\Users\santosh bishnoi\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\santosh bishnoi\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [95]:
for i,j in newdata["allergies_vector"].iteritems():
    newdata["allergies_vector"][i]=tofloatlist(newdata["allergies_vector"][i])

C:\Users\santosh bishnoi\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [96]:
for i,j in newdata["history_vector"].iteritems():
    newdata["history_vector"][i]=tofloatlist(newdata["history_vector"][i])

C:\Users\santosh bishnoi\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [102]:
newdata['allergies_vector']

1         [0.00221, 0.0031568, -0.14152, 0.025837, 0.590...
7         [0.4257, -0.52978, 0.37835, -0.28299, -0.48079...
9         [0.00016614318, -0.23048915, 0.219673276, 0.06...
11        [0.186294, 0.096531, -0.08966247, -0.0180668, ...
12        [0.15393333, -0.37862667, 0.15700598, -0.09709...
                                ...
458043    [0.11675, -0.15802167, 0.10094001, -0.11322666...
458237    [0.26694, -0.38179, 0.37195, 0.39158, 0.58827,...
459439    [0.21177999, -0.09531848, 0.29061, 0.07263334,...
459475    [0.088742006, -0.0657332465, 0.268713981, -0.6...
459477    [0.091639821, -0.127368828, 0.0846981605, -0.2...
Name: allergies_vector, Length: 104069, dtype: object

In [103]:
for index, row in newdata.iterrows():
    row["meds_vector"].append(row["AGE_YRS"])
    row["meds_vector"].append(row["SEX_F"])
    row["meds_vector"].append(row["SEX_M"])

In [104]:
for index, row in newdata.iterrows():
    row["allergies_vector"].append(row["AGE_YRS"])
    row["allergies_vector"].append(row["SEX_F"])
    row["allergies_vector"].append(row["SEX_M"])

    row["history_vector"].append(row["AGE_YRS"])
    row["history_vector"].append(row["SEX_F"])
    row["history_vector"].append(row["SEX_M"])

In [105]:
# for index, row in newdata.iterrows():
#     row["history_vector"].append(row["AGE_YRS"])
#     row["history_vector"].append(row["SEX_F"])
#     row["history_vector"].append(row["SEX_M"])

In [111]:
newdata.shape

(104069, 9)

In [106]:
only_risky=newdata[newdata["risk"]==1]

In [110]:
only_risky.shape

(2601, 9)

In [109]:
only_risky.to_csv("onlyrisky.csv")

In [134]:
def vector_avg(vec_list):
    vec_list=[np.array(i) for i in vec_list]
    return sum(vec_list)/len(vec_list)

In [136]:
from scipy import spatial
age=int(input("Enter Age"))

gender=int(input("Gender; 0 for male, 1 for female"))

# take kirkland multivitamin, calcium viamin 2 times a day, fishoil and vitamin D
#"'kirkland multivitamin', 'kirkland calcium vitamin', 'vitamin d', 'fish oil'"
# user_med_vector=[0.15982562, 0.34926423, 0.05469533, 0.323681, 0.28450212, 0.13055426, -2.3314798, 0.49633056, 0.2620917, -0.20942518, 0.40288925, 0.40483797, -0.021469198, -0.20298877, -0.22280537, -0.24692601, 0.0272022, -0.18936607, 0.1183069, -0.29745856, 0.4308486, -0.0014671017, -0.15072188, 0.33548295, -0.2637877, 0.014523436, -0.1254587, 0.024430078, 0.06457881, 0.09556325, 0.280343, -0.09779584, -0.009837465, -0.24506927, 0.27284777, 0.11645197, 0.069952995, 0.028362202, 0.27075252, -0.035985835, -0.30618677, 0.4612656, -0.3348932, -0.011408836, -0.14066166, -0.1466612, 0.03708171, 0.10750302, 0.5980617, -0.048841927, -0.031557538, 0.10554386, -0.20389587, 0.033628102, -0.32241616, 0.0152977975, -0.2561049, 0.1229115, 0.38761026, -0.11168303, -0.06377068, -0.017849771, -0.02420374, -0.14918081, -0.04720967, -0.05448575, -0.37687474, -0.056799002, -0.045562625, -0.31058675, -0.06514034, -0.35735178, -0.008523634, 0.28314817, 0.06954292, -0.106415875, 0.23145051, -0.08488456, -0.24257891, 0.14306729, 0.075392865, -0.19461457, 0.12898904, -0.1798188, -0.03136594, 0.036899798, 0.20284568, 0.026332105, 0.1741347, -0.07465084, -0.06351866, 0.021666933, 0.22896038, 0.051308233, 0.07417173, 0.61955345, -1.9022931, -0.08618177, 0.3247927, 0.44571695, -0.074525364, -0.3670842, -0.090614304, 0.107739754, 0.043143336, -0.22477968, -0.23322545, 0.3382891, -0.119961485, -0.091717385, 0.24130772, 0.046719372, -0.34077024, 0.24450809, -0.3587248, 0.29847208, 0.6887809, 0.27676362, 0.28794497, -0.080604695, -0.22364376, -0.033938568, 0.10258705, -0.17111392, 0.2528434, -0.40635914, -0.28484112, -0.090457715, 0.084005475, -0.17609455, -0.411088, 0.022466183, -0.13400443, 0.011420499, 0.012728571, -0.0012558817, 0.22681199, 0.042404365, -0.2599605, 0.64271927, 0.039411258, 0.1413991, -0.14817867, -0.14151762, 0.04320867, -0.55786216, 0.13285679, -0.077174634, -0.1635904, 0.014636917, 0.21491653, -0.112542495, -0.083922714, -0.121437244, -0.27874342, 0.020775536, -0.06598136, 0.08736957, 0.019139552, 0.16520715, -0.05261929, 0.036651146, -0.30963483, -0.4160593, 0.040043313, -0.2612969, -0.07502203, -0.068323016, -0.042314865, 0.15430884, 0.07821328, 0.015595769, -0.07574098, 0.18791042, -0.0011986356, 0.1127491, -0.32391536, -0.045138367, 0.11128664, 0.21140645, -0.08605386, 0.12339962, -0.061093584, -0.029512735, -0.25983617, -0.19788449, 0.17851588, 0.30080053, 0.2858545, 0.011687786, 0.07831761, -0.19338837, 0.017178174, 0.2763386, 0.11991465, -0.46593863, 0.17012858, 0.17983899, 0.1048874, -0.5294709, -0.0827358, 0.0126563115, -0.1075454, -0.021224268, 0.13307786, 0.06535521, -0.005542703, -0.088562496, 0.2040221, 0.21911195, 0.26709166, -0.19257572, -0.20151097, -0.06898403, 0.027025202, -0.15542462, -0.0259018, -0.0028905994, -0.24069081, -0.14798966, 0.3683858, 0.11413487, 0.057653688, 0.10572145, -3.2850397, 0.10762547, -0.306617, -0.2532511, 0.14162704, -0.01653156, 0.028635465, -0.2014936, -0.11791369, -0.057292677, -0.19226679, -0.077294126, 0.1366234, -0.033321835, -0.19280615, -0.0637589, 0.13062301, 0.22836332, -0.046203267, -0.17601234, -0.006625037, 0.34965461, 0.028870365, 0.036780555, -0.17581978, 0.18824689, 0.12861246, -0.0423188, -0.020232666, -0.006974873, -0.074161194, -0.06091677, -0.015575232, 0.004320668, -0.0544307, 0.31066364, -0.1288286, -0.07109306, 0.17411557, -0.20407066, -0.042881265, 0.08333308, 0.26259425, -0.38202253, 0.18125819, 0.029763533, 0.3089019, -0.097719684, 0.0094312, 0.06630166, 0.045905035, -0.0077966102, 0.033675138, 0.19629951, 0.38428515, -0.16522413, -0.07141674, 0.012841365, -0.017647002, 0.23215315, 0.26139218, -0.0017949969, -0.01610911, 0.2587202, -0.045165006, -0.09644877, 0.08140637, -0.025840605, -0.22215517, 0.3302778, 0.031801574, -0.09162041, 0.07353822, -0.09918522, 0.47452515, -0.24518679,]

user_med_vector=[0.13973989, 0.23836088, 0.021824023, 0.2290081, 0.29007113, 0.12275258, -2.4536555, 0.3400934, 0.3685603, -0.30112228, 0.3155959, 0.21167116, -0.035278182, -0.15464646, -0.14362535, -0.19436912, -0.058589995, -0.19675334, 0.19468999, -0.26137277, 0.41554782, -0.023785405, 0.009864915, 0.2879687, -0.18352903, -0.022547515, -0.11650363, -0.021304345, 0.10404649, 0.12093672, 0.31221464, -0.13223068, 0.028739564, -0.30094585, 0.33206397, 0.10290256, -0.044768017, -0.035804003, 0.28731117, -0.082659766, -0.2689247, 0.44767395, -0.24672009, 0.022098025, -0.123516224, -0.15329112, 0.025134444, 0.06614014, 0.5362251, -0.1160472, 0.041441668, 0.068297446, -0.16824298, -0.108935244, -0.27976653, -0.042046476, -0.26716185, 0.111297436, 0.44109288, -0.10353676, 0.0190865, -0.17105341, -0.050157826, -0.1379696, 0.07516887, -0.13179071, -0.32399437, -0.060380336, -0.06454936, -0.3308281, -0.08892748, -0.30134425, 0.02589042, 0.2144053, 0.11764423, -0.104768924, 0.35657468, -0.1371022, -0.14129588, 0.1777126, 0.044662368, -0.15583955, 0.0666633, -0.12147122, 0.011226472, 0.002958338, 0.24712567, -0.03867674, 0.11610087, 0.02893556, -0.05480125, -0.032574933, 0.14672667, -0.0029637043, 0.082697056, 0.58953434, -1.7778193, -0.012094222, 0.3214045, 0.49481508, -0.07577906, -0.38043022, -0.17880271, 0.07396254, 0.020331495, -0.26879275, -0.11854651, 0.42328557, -0.06549558, -0.1625061, 0.25846308, 0.15303093, -0.28541526, 0.3221862, -0.32535478, 0.38754645, 0.59328526, 0.16128016, 0.18818152, -0.050084997, -0.009982018, -0.063988976, 0.0859508, -0.09460441, 0.30530345, -0.34752047, -0.19795388, -0.010691927, 0.22289115, -0.14700411, -0.4655455, -0.003747085, -0.14073993, 0.028235393, 0.052675698, -0.060496554, 0.23704171, 0.09421214, -0.23306729, 0.6914032, 0.044204492, 0.2058909, -0.03290375, -0.15303738, 0.15412879, -0.5260331, 0.09093531, -0.07313767, -0.15884048, 0.03720272, 0.20690793, -0.1217907, -0.12104529, -0.14677352, -0.2753177, -0.032919917, -0.0013412926, 0.14156185, 0.061063766, 0.1326497, -0.12474387, 0.06823009, -0.3123549, -0.4669253, -0.016715087, -0.16029945, -0.019250704, -0.050808683, 0.007078932, 0.10829193, 0.025298761, 0.0029326088, -0.096440785, 0.24446838, -0.042746942, 0.2341026, -0.29326814, -0.081687935, 0.072382234, 0.1651329, -0.085524656, 0.17773479, -0.03875992, -0.04588285, -0.18582426, -0.19947813, 0.16655935, 0.21561663, 0.2078891, 0.026576938, 0.13904123, -0.21839005, 0.056482524, 0.23439252, 0.09227845, -0.37006864, 0.11855308, 0.13152003, 0.19659846, -0.46482685, -0.025522238, 0.06650684, -0.11586672, 0.03197428, 0.05517224, -0.07812186, 0.0014836608, -0.12468508, 0.25229743, 0.18799645, 0.21846907, -0.15735865, -0.17049079, -0.08731848, 0.00659355, -0.15837452, -0.09335504, 0.019482022, -0.23304929, -0.15550041, 0.3838118, 0.06870092, 0.08055854, 0.07826076, -3.370643, 0.11981785, -0.19593774, -0.29847506, 0.14825878, 0.024335941, -0.017263336, -0.11070609, -0.08859644, -0.069170155, -0.18627559, -0.107450485, 0.10638401, 0.004957475, -0.21795662, -0.061861873, -0.012760878, 0.15929143, -0.15268089, -0.057644796, 0.007913079, 0.31892693, 0.07604047, 0.029000685, -0.059662268, 0.123322755, 0.11686171, -0.049657594, -0.025987498, 0.036571417, -0.11935442, -0.08542591, 0.02071436, 0.035999313, 0.023059987, 0.2421366, -0.15159406, -0.022166876, 0.15317646, -0.33146033, -0.027017012, 0.05383232, 0.17387962, -0.26545525, 0.13625519, -0.055333078, 0.2846078, -0.11891326, -0.003577811, 0.016855158, -0.062738754, 0.027325833, 0.039367292, 0.25633505, 0.37223792, -0.1146647, 0.045639385, 0.036743544, 0.07395653, 0.24851172, 0.2080753, 0.016608465, -0.07933307, 0.2605201, -0.055695143, -0.046811312, -0.0222397, -0.07160348, -0.14803497, 0.24806501, 0.053246323, -0.04436873, 0.039472345, -0.06902423, 0.47848344, -0.13215016, 43,0,1]
user_allergy_vector=[0.13973989, 0.23836088, 0.021824023, 0.2290081, 0.29007113, 0.12275258, -2.4536555, 0.3400934, 0.3685603, -0.30112228, 0.3155959, 0.21167116, -0.035278182, -0.15464646, -0.14362535, -0.19436912, -0.058589995, -0.19675334, 0.19468999, -0.26137277, 0.41554782, -0.023785405, 0.009864915, 0.2879687, -0.18352903, -0.022547515, -0.11650363, -0.021304345, 0.10404649, 0.12093672, 0.31221464, -0.13223068, 0.028739564, -0.30094585, 0.33206397, 0.10290256, -0.044768017, -0.035804003, 0.28731117, -0.082659766, -0.2689247, 0.44767395, -0.24672009, 0.022098025, -0.123516224, -0.15329112, 0.025134444, 0.06614014, 0.5362251, -0.1160472, 0.041441668, 0.068297446, -0.16824298, -0.108935244, -0.27976653, -0.042046476, -0.26716185, 0.111297436, 0.44109288, -0.10353676, 0.0190865, -0.17105341, -0.050157826, -0.1379696, 0.07516887, -0.13179071, -0.32399437, -0.060380336, -0.06454936, -0.3308281, -0.08892748, -0.30134425, 0.02589042, 0.2144053, 0.11764423, -0.104768924, 0.35657468, -0.1371022, -0.14129588, 0.1777126, 0.044662368, -0.15583955, 0.0666633, -0.12147122, 0.011226472, 0.002958338, 0.24712567, -0.03867674, 0.11610087, 0.02893556, -0.05480125, -0.032574933, 0.14672667, -0.0029637043, 0.082697056, 0.58953434, -1.7778193, -0.012094222, 0.3214045, 0.49481508, -0.07577906, -0.38043022, -0.17880271, 0.07396254, 0.020331495, -0.26879275, -0.11854651, 0.42328557, -0.06549558, -0.1625061, 0.25846308, 0.15303093, -0.28541526, 0.3221862, -0.32535478, 0.38754645, 0.59328526, 0.16128016, 0.18818152, -0.050084997, -0.009982018, -0.063988976, 0.0859508, -0.09460441, 0.30530345, -0.34752047, -0.19795388, -0.010691927, 0.22289115, -0.14700411, -0.4655455, -0.003747085, -0.14073993, 0.028235393, 0.052675698, -0.060496554, 0.23704171, 0.09421214, -0.23306729, 0.6914032, 0.044204492, 0.2058909, -0.03290375, -0.15303738, 0.15412879, -0.5260331, 0.09093531, -0.07313767, -0.15884048, 0.03720272, 0.20690793, -0.1217907, -0.12104529, -0.14677352, -0.2753177, -0.032919917, -0.0013412926, 0.14156185, 0.061063766, 0.1326497, -0.12474387, 0.06823009, -0.3123549, -0.4669253, -0.016715087, -0.16029945, -0.019250704, -0.050808683, 0.007078932, 0.10829193, 0.025298761, 0.0029326088, -0.096440785, 0.24446838, -0.042746942, 0.2341026, -0.29326814, -0.081687935, 0.072382234, 0.1651329, -0.085524656, 0.17773479, -0.03875992, -0.04588285, -0.18582426, -0.19947813, 0.16655935, 0.21561663, 0.2078891, 0.026576938, 0.13904123, -0.21839005, 0.056482524, 0.23439252, 0.09227845, -0.37006864, 0.11855308, 0.13152003, 0.19659846, -0.46482685, -0.025522238, 0.06650684, -0.11586672, 0.03197428, 0.05517224, -0.07812186, 0.0014836608, -0.12468508, 0.25229743, 0.18799645, 0.21846907, -0.15735865, -0.17049079, -0.08731848, 0.00659355, -0.15837452, -0.09335504, 0.019482022, -0.23304929, -0.15550041, 0.3838118, 0.06870092, 0.08055854, 0.07826076, -3.370643, 0.11981785, -0.19593774, -0.29847506, 0.14825878, 0.024335941, -0.017263336, -0.11070609, -0.08859644, -0.069170155, -0.18627559, -0.107450485, 0.10638401, 0.004957475, -0.21795662, -0.061861873, -0.012760878, 0.15929143, -0.15268089, -0.057644796, 0.007913079, 0.31892693, 0.07604047, 0.029000685, -0.059662268, 0.123322755, 0.11686171, -0.049657594, -0.025987498, 0.036571417, -0.11935442, -0.08542591, 0.02071436, 0.035999313, 0.023059987, 0.2421366, -0.15159406, -0.022166876, 0.15317646, -0.33146033, -0.027017012, 0.05383232, 0.17387962, -0.26545525, 0.13625519, -0.055333078, 0.2846078, -0.11891326, -0.003577811, 0.016855158, -0.062738754, 0.027325833, 0.039367292, 0.25633505, 0.37223792, -0.1146647, 0.045639385, 0.036743544, 0.07395653, 0.24851172, 0.2080753, 0.016608465, -0.07933307, 0.2605201, -0.055695143, -0.046811312, -0.0222397, -0.07160348, -0.14803497, 0.24806501, 0.053246323, -0.04436873, 0.039472345, -0.06902423, 0.47848344, -0.13215016, 43,0,1]
user_history_vector=[0.13973989, 0.23836088, 0.021824023, 0.2290081, 0.29007113, 0.12275258, -2.4536555, 0.3400934, 0.3685603, -0.30112228, 0.3155959, 0.21167116, -0.035278182, -0.15464646, -0.14362535, -0.19436912, -0.058589995, -0.19675334, 0.19468999, -0.26137277, 0.41554782, -0.023785405, 0.009864915, 0.2879687, -0.18352903, -0.022547515, -0.11650363, -0.021304345, 0.10404649, 0.12093672, 0.31221464, -0.13223068, 0.028739564, -0.30094585, 0.33206397, 0.10290256, -0.044768017, -0.035804003, 0.28731117, -0.082659766, -0.2689247, 0.44767395, -0.24672009, 0.022098025, -0.123516224, -0.15329112, 0.025134444, 0.06614014, 0.5362251, -0.1160472, 0.041441668, 0.068297446, -0.16824298, -0.108935244, -0.27976653, -0.042046476, -0.26716185, 0.111297436, 0.44109288, -0.10353676, 0.0190865, -0.17105341, -0.050157826, -0.1379696, 0.07516887, -0.13179071, -0.32399437, -0.060380336, -0.06454936, -0.3308281, -0.08892748, -0.30134425, 0.02589042, 0.2144053, 0.11764423, -0.104768924, 0.35657468, -0.1371022, -0.14129588, 0.1777126, 0.044662368, -0.15583955, 0.0666633, -0.12147122, 0.011226472, 0.002958338, 0.24712567, -0.03867674, 0.11610087, 0.02893556, -0.05480125, -0.032574933, 0.14672667, -0.0029637043, 0.082697056, 0.58953434, -1.7778193, -0.012094222, 0.3214045, 0.49481508, -0.07577906, -0.38043022, -0.17880271, 0.07396254, 0.020331495, -0.26879275, -0.11854651, 0.42328557, -0.06549558, -0.1625061, 0.25846308, 0.15303093, -0.28541526, 0.3221862, -0.32535478, 0.38754645, 0.59328526, 0.16128016, 0.18818152, -0.050084997, -0.009982018, -0.063988976, 0.0859508, -0.09460441, 0.30530345, -0.34752047, -0.19795388, -0.010691927, 0.22289115, -0.14700411, -0.4655455, -0.003747085, -0.14073993, 0.028235393, 0.052675698, -0.060496554, 0.23704171, 0.09421214, -0.23306729, 0.6914032, 0.044204492, 0.2058909, -0.03290375, -0.15303738, 0.15412879, -0.5260331, 0.09093531, -0.07313767, -0.15884048, 0.03720272, 0.20690793, -0.1217907, -0.12104529, -0.14677352, -0.2753177, -0.032919917, -0.0013412926, 0.14156185, 0.061063766, 0.1326497, -0.12474387, 0.06823009, -0.3123549, -0.4669253, -0.016715087, -0.16029945, -0.019250704, -0.050808683, 0.007078932, 0.10829193, 0.025298761, 0.0029326088, -0.096440785, 0.24446838, -0.042746942, 0.2341026, -0.29326814, -0.081687935, 0.072382234, 0.1651329, -0.085524656, 0.17773479, -0.03875992, -0.04588285, -0.18582426, -0.19947813, 0.16655935, 0.21561663, 0.2078891, 0.026576938, 0.13904123, -0.21839005, 0.056482524, 0.23439252, 0.09227845, -0.37006864, 0.11855308, 0.13152003, 0.19659846, -0.46482685, -0.025522238, 0.06650684, -0.11586672, 0.03197428, 0.05517224, -0.07812186, 0.0014836608, -0.12468508, 0.25229743, 0.18799645, 0.21846907, -0.15735865, -0.17049079, -0.08731848, 0.00659355, -0.15837452, -0.09335504, 0.019482022, -0.23304929, -0.15550041, 0.3838118, 0.06870092, 0.08055854, 0.07826076, -3.370643, 0.11981785, -0.19593774, -0.29847506, 0.14825878, 0.024335941, -0.017263336, -0.11070609, -0.08859644, -0.069170155, -0.18627559, -0.107450485, 0.10638401, 0.004957475, -0.21795662, -0.061861873, -0.012760878, 0.15929143, -0.15268089, -0.057644796, 0.007913079, 0.31892693, 0.07604047, 0.029000685, -0.059662268, 0.123322755, 0.11686171, -0.049657594, -0.025987498, 0.036571417, -0.11935442, -0.08542591, 0.02071436, 0.035999313, 0.023059987, 0.2421366, -0.15159406, -0.022166876, 0.15317646, -0.33146033, -0.027017012, 0.05383232, 0.17387962, -0.26545525, 0.13625519, -0.055333078, 0.2846078, -0.11891326, -0.003577811, 0.016855158, -0.062738754, 0.027325833, 0.039367292, 0.25633505, 0.37223792, -0.1146647, 0.045639385, 0.036743544, 0.07395653, 0.24851172, 0.2080753, 0.016608465, -0.07933307, 0.2605201, -0.055695143, -0.046811312, -0.0222397, -0.07160348, -0.14803497, 0.24806501, 0.053246323, -0.04436873, 0.039472345, -0.06902423, 0.47848344, -0.13215016, 43,0,1]

age_grp_df = only_risky.loc[(only_risky['AGE_YRS'] >= age-20) & (only_risky['AGE_YRS'] <= age+20)]

age_and_gender_df=age_grp_df[age_grp_df["SEX_F"]==gender]

# vec_list=[]

vaccine_list=[ "COVID19 (COVID19 (PFIZER-BIONTECH))","COVID19 (COVID19 (MODERNA))"]

for vaccine in vaccine_list:
    print(vaccine)
    vec_list_meds=[]
    vec_list_allergies=[]
    vec_list_history=[]

    vacdf=age_and_gender_df[age_and_gender_df['VAX_NAME']==vaccine]
    # print(vacdf)


    for i in vacdf["meds_vector"]:
        # print("lennnn",len(i))
        if len(i)==303:
            vec_list_meds.append(i)
        
    for i in vacdf["allergies_vector"]:
        if len(i)==303:
            vec_list_allergies.append(i)
        
    for i in vacdf["history_vector"]:
        if len(i)==303:
            vec_list_history.append(i)



# print(len(vec_list))
# print(vec_list)

    avg_vector_meds=vector_avg(vec_list_meds)
    avg_vector_allergies=vector_avg(vec_list_allergies)
    avg_vector_history=vector_avg(vec_list_history)

    
    result_meds=spatial.distance.cosine(avg_vector_meds,user_med_vector)
    result_allergies=spatial.distance.cosine(avg_vector_allergies,user_allergy_vector)
    result_history=spatial.distance.cosine(avg_vector_history,user_history_vector)
    
    print("Vaccine name:", vaccine)

    print("Risk Percentage :",max(result_meds,result_allergies, result_history)*100)

COVID19 (COVID19 (PFIZER-BIONTECH))
Vaccine name: COVID19 (COVID19 (PFIZER-BIONTECH))
Risk Percentage : 1.6255794060662687
COVID19 (COVID19 (MODERNA))
Vaccine name: COVID19 (COVID19 (MODERNA))
Risk Percentage : 1.5683311325333738